@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.wrapper {
    display: flex;
    width: 100%;
    max-width: 1200px; /* Definindo uma largura máxima */
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.input-section {
    margin-bottom: 15px;
}

.input-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
button {
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Poppins', sans-serif;
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
}

button.download-button {
    background-color: green; /* Alterando a cor do botão para baixar dados */
}

button:hover {
    background-color: #0056b3;
}

.sidebar {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    min-width: 250px;
    flex-shrink: 0;
    margin-left: 20px;
    overflow-y: auto;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

#funcionarios {
    text-align: left;
}

.funcionario {
    margin-bottom: 20px;
}

.funcionario h3 {
    margin-bottom: 5px;
    font-size: 1.2em;
    color: #007bff;
}

.saldo-positivo {
    color: green;
}

.saldo-negativo {
    color: red;
}
